/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@import url("../css/bootstrap.css");
@import url("../css/swipebox.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background:#f5f3f2;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-----start-header----*/
.top-left-grid {
    float:left;
	width:68%;
	box-shadow: 0px 0px 6px 6px #e8e6e5;
	-moz-box-shadow: 0px 0px 6px 6px #e8e6e5;
	-webkit-box-shadow: 0px 0px 6px 6px #e8e6e5;
}
.top-grid {
	padding: 11em 0 5em 0;
}
.top-left-grid ul li {
	display:inline-block;
	width: 20%;
	text-align: center;
	border-right: 1px solid #e5e5e5;
	background:#fff;
	float:left;
	cursor:pointer;
}
.top-left-grid ul li:nth-child(5) {
	border: none;
}
.top-left-grid ul li a {
	border-bottom:4px solid #fff;
	padding: 1.5em 0;
	display:block;
}
.top-left-grid ul li a.active {
	background:#fcfcfc;
	border-bottom:4px solid #d42875;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.top-left-grid ul li a:hover {
	background:#fcfcfc;
	border-bottom:4px solid #d42875;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
i.home {
	width:80px;
	height:80px;
	background: url('../images/img-sprite.png') no-repeat 0px 0px;
	display:inline-block;
}
.top-left-grid ul li:hover i.home {
	background: url('../images/img-sprite.png') no-repeat 0px -80px;
}
i.news {
	width:80px;
	height:80px;
	background: url('../images/img-sprite.png') no-repeat -80px -80px;
	display:inline-block;
}
i.photos {
	width:80px;
	height:80px;
	background: url('../images/img-sprite.png') no-repeat -160px 0px;
	display:inline-block;
}
.top-left-grid ul li:hover i.photos {
	background: url('../images/img-sprite.png') no-repeat -160px -80px;
}
i.bag {
	width:80px;
	height:80px;
	background: url('../images/img-sprite.png') no-repeat -240px 0px;
	display:inline-block;
}
.top-left-grid ul li:hover i.bag {
	background: url('../images/img-sprite.png') no-repeat -240px -80px;
}
i.settings {
	width:80px;
	height:80px;
	background: url('../images/img-sprite.png') no-repeat -320px 0px;
	display:inline-block;
}
.login-index {
	float: left;
	width: 29%;
	margin-left:3%;

}
.index_user_head {
	background:#d42875;
	border-radius: 4px;
	padding:2.0em;
}
.index_user_head img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	float: left;
	margin-right: 1em;
	margin-top: 0.3em;
}
.index_user_head h3 {
	width:240px;
	color:#fff;
	font-size:1.8em;
	margin-top:15px;
	font-weight:200;
}
.index_user_head p {
	color:#fff;
	font-size:1.1em;
	font-style:italic;
	margin-top:15px;
	font-weight:400;
}
.top-left-grid ul li:hover i.settings {
	background: url('../images/img-sprite.png') no-repeat -320px -80px;
}
.top-right-grid {
	float: left;
	width: 15%;
	margin-left:4%;
}

.top-right-grid-button {
	float: left;
	width: 10%;
	margin-left:3%;
}
.loginbuton {
	outline:none;
	border:none;
	position: relative;	
	background:#50d8cf;
	color:#fff;
	padding:7px 30px;
	margin: 0.3em 0;
	border-bottom: 3px solid #1FB1A4;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	font-size:1.2em;
}

.loginbuton:hover{
	background: #1FB1A4;
	border-bottom:3px solid #084C46;
}
.login-box {
	position: relative;	
	margin-top: 10px;
}
.search-box {
	position: relative;	
	background: #fff;
	margin: 1em 0;
	border:1px solid #cecece;
}
.search-box:hover {	
	border:1px solid #e48db3;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	box-shadow: 1px 1px 1px -2px #e8e6e5;
}
.search-box div input[type="text"]   {
	border: none;
	outline: none;
	padding: 10px 10px;
	-webkit-apperance: none;
	margin: 0;
	background: #fff;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	color: #bfafa9;
	width: 86%;
	font-size:1.1em;
	font-weight:400;
}
.search-box div input[type="text"]:hover {
	color:#705e57;	
}
.search-box div input[type="submit"] {
	border: none;
	outline: none;
	cursor: pointer;
	background:url(../images/img-sprite.png) no-repeat -400px 0px;
	position: absolute;
	right: 9px;
	bottom: 9px;
	padding: 0;
	width: 25px;
	height: 25px;
}
.search-box:hover input.go {
	background:url(../images/img-sprite.png) no-repeat -400px -25px;
}
.bottons_row_1 ul li {
	display:inline-block;
	width:26%;
	text-align: center;
}
.bottons_row_1 ul li.large input[type="button"] {
	outline:none;
	border:none;
	background:#50d8cf;
	padding:10px 32px;
	color:#fff;
	font-size:1.4em;
	border-bottom: 3px solid #1FB1A4;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
}
.bottons_row_1 ul li.large input[type="button"]:hover {
	background: #1FB1A4;
	border-bottom:3px solid #084C46;
}
.bottons_row_1 ul li.medium input[type="button"] {
	outline:none;
	border:none;
	background:#50d8cf;
	padding:7px 26px;
	color:#fff;
	font-size:1.25em;
	border-bottom: 3px solid #1FB1A4;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
}
.bottons_row_1 ul li.medium input[type="button"]:hover {
	background: #1FB1A4;
	border-bottom:3px solid #084C46;
}
.bottons_row_1 ul li.small input[type="button"] {
	outline:none;
	border:none;
	background:#50d8cf;
	padding:6px 22px;
	color:#fff;
	font-size:1.15em;
	border-bottom: 3px solid #1FB1A4;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
}
.bottons_row_1 ul li.small input[type="button"]:hover {
	background: #1FB1A4;
	border-bottom:3px solid #084C46;	
}
.bottons_row_1 ul {
	margin-top: 2em;
}
.bottons_row_1 ul.buttons {
	margin-top:4em;
}
.bottons_row_1 ul li.red input[type="button"] {
	background: #d42874;
	border-bottom: 3px solid #AC0942;
}
.bottons_row_1 ul li.red input[type="button"]:hover {
	background:#AC0942;
	border-bottom:3px solid #58001F;
}
li.medium {
	margin-left: 6%;
}
.blog img {
	width: 100%;
	border-top-left-radius:4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	border-top-right-radius:4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
}
.blog {
	margin-top:25px;
	margin-bottom:25px;
	width: 90%;
	background: #fff;
	box-shadow: 5px 5px 5px 5px #e8e6e5;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
}
.blog-info {
	padding:20px;
}
.blog-top {
	background: #fff;
	padding: 1em 0.1em;
	border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
}

.blog-info img {
	border-radius: 50%;
	float:left;
	width:50px;
	height:50px;
	border:5px solid #fff;
	
}
.blog-info h4 {
	margin: 10px 0px 0px 15px;
	float:left;
	width:50%;
	color:#d42875;
	font-size:1.6em;
	font-weight:600;
	
}
.blog-info label {
	margin: 8px 0px 0px 21px;
	float:left;
	width:35%;
	color:#7c584b;
	font-size:1.5em;
	font-weight:600;
	font-style:italic;
}
.blog-info label a {
	margin-left:5px;
	text-decoration: underline;
}
.blog-bot{
	margin-top:3em;
	padding-top:1em;
	border-top:2px solid #e5e5e5;
}
.blog-info p {
	color:#7c584b;
	font-size:1em;
	font-weight:600;
	
}
.span_middle {
	padding:0;
}

.button_bar {
	margin-top:25px;
	margin-bottom:25px;
	width: 90%;
}
.button_bar li{
	list-style: none;
	float: left;
	margin-right: 10px;
}



.buttons {
	margin-bottom: 6em;
}
.user_menu {
	box-shadow: 5px 5px 5px 5px #e8e6e5;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	width:45%;
	float:left;
	margin-right:8%;
}
.user_head {
	background:#d42875;
	border-top-left-radius:4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	border-top-right-radius:4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	padding:1.6em;
}
.user_head img {
	float: left;
	margin-right: 2em;
}
.user_head h3 {
	color:#fff;
	font-size:2.3em;
	margin-top:10px;
	font-weight:300;
}
.user_head p {
	color:#fff;
	font-size:1.1em;
	font-style:italic;
	margin-top:2px;
	font-weight:400;
}
.user_list ul li {
	list-style-type:none;
}
.user_list ul li a {
	color:#7c584b;
	font-size:1.15em;
	font-weight:600;
	padding:1.5em;
	text-decoration:none;
	display: block;
}
.user_list ul li {
	border-top:1px solid #e5e5e5;
}
.user_list ul li a.active {
	background:#eef9f7;
	color:#0fb9ae;
	border-left:4px solid #83e1db;
}
.user_list ul li a:hover {
	background:#eef9f7;
	color:#0fb9ae;
	border-left:4px solid #83e1db;
}
.user_desc_right {
	float: right;
	width: 42%;
	margin-right: 5%;
}
.ribbons img {
	margin-top:4em;
}
/* ribbon style */
/* ribbon style */
.ribbons {
	margin-left: 6em;
}
 .ribbon-wrapper1 {
	position: relative;
	margin-top:4em;
}
  .ribbon-front1 {
	background-color: #f864a6;
  height: 35px;
  width: 130px;
  position: relative;
  left: -20px;
  z-index: 2;
}

  .ribbon-front1,
  .ribbon-back-left1,
  .ribbon-back-right1
{
}

  .ribbon-edge-topleft1,
  .ribbon-edge-topright1,
  .ribbon-edge-bottomleft1,
  .ribbon-edge-bottomright1 {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft1,
  .ribbon-edge-topright1 {
}

  .ribbon-edge-bottomleft1,
  .ribbon-edge-bottomright1 {
	top: 40px;
}

  .ribbon-edge-topleft1,
  .ribbon-edge-bottomleft1 {
	  left: 144px;
  border-color: transparent #d42875 transparent transparent;
}

  .ribbon-edge-topleft1 {
	  top: 18px;
  border-width: 18px 20px 17px 20px;
  transform: rotate(-180deg);
}
  .ribbon-edge-bottomleft1 {
	border-width: 0 10px 0px 0;
}

  .ribbon-edge-topright1,
  .ribbon-edge-bottomright1 {
	  left: 53px;
  border-color: transparent transparent transparent #b4125a;
}

  .ribbon-edge-topright1 {
	top: 0px;
	border-width: 0px 0 0 10px;
}
  .ribbon-edge-bottomright1 {
	  border-width: 0 0 18px 57px;
  top: 35px;
}

  .ribbon-back-left1 {
position: absolute;
  z-index: 999;
  border-style: solid;
  height: 0px;
  width: 0px;
  top: 0px;
  border-width: 18px 20px 17px 20px;
  transform: rotate(-180deg);
  left: -20px;
  border-color: transparent #f5f3f2 transparent transparent;
}

  .ribbon-back-right1 {
	position: absolute;
  top: 18px;
  right: 92px;
  width: 90px;
  height: 35px;
  z-index: 0;
  background: #d42875;
}

 .ribbon-wrapper {
	position: relative;
	margin-top:6em;
	margin-left: 1em;
}
  .ribbon-front {
	background-color: #f864a6;	
	height: 33px;
	width: 120px;
	position: relative;
	left:-10px;
	z-index: 2;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 40px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -10px;
	border-color: transparent #b4125a transparent transparent;
}
.ribbon-edge-topleft2 {
  top: -13px;
  border-width: 17px 20px 16px 20px;
  transform: rotate(-180deg);
}
.ribbon-edge-topleft2{
  left: 146px;
  border-color: transparent #d42875 transparent transparent;
}
.ribbon-edge-topleft2{
  position: absolute;
  z-index: 1;
  border-style: solid;
  height: 0px;
  width: 0px;
}

  .ribbon-edge-topleft {
	  top: -12px;
  border-width: 12px 40px 0 0;
}
  .ribbon-edge-bottomleft {
	border-width: 0 20px 0px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	left: 71px;
	border-color: transparent transparent transparent #b4125a;
}

  .ribbon-edge-topright {
	    top: -12px;
  border-width: 12px 0 0 40px;
}
  .ribbon-edge-bottomright {
	border-width: 0 0 0px 20px;
}

  .ribbon-back-left {
	position: absolute;
	  top: -13px;
	  left: -50px;
	  width: 80px;
	  height: 33px;
	  z-index: 0;
	    background: #d42875;
}

  .ribbon-back-left2 {
position: absolute;
  z-index: 999;
  border-style: solid;
  height: 0px;
  width: 0px;
  top: -15px;
  border-width: 16px 19px 19px 20px;
  transform: rotate(-180deg);
  left: -50px;
  border-color: transparent #f5f3f2 transparent transparent;
}

  .ribbon-back-right {
	  position: absolute;
  top: -13px;
  right: 76px;
  width: 75px;
  height: 33px;
  z-index: 0;
  background: #d42875;
}

i.heart_icon {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat 0px -160px;
	  display: block;
  margin: 0 auto;
}
.heart {
	background: #d42875;
	float:left;
	width:50%;
	min-height:200px;
	padding-top:2.2em;
	border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-o-border-bottom-left-radius: 4px;
	-ms-border-bottom-left-radius: 4px;
}
.incr_decr {
	float:right;
	width:50%;
	background: #fff;
	min-height:200px;
	border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	-ms-border-bottom-right-radius: 4px;
}
.heart h3 {
	color:#fff;
	font-size:4em;
	font-weight:300;
}
.plus,.minus {
	padding: 1.25em 0;
}
.plus {
	border-bottom:1px solid #e5e5e5;
}
.user_beat {
	box-shadow: 5px 5px 5px 5px #e8e6e5;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	margin-bottom:2em;
}
#myform {
    text-align: center;
	  background: #fff;
}
.qty {
      text-align: center;
  color: #fff;
  font-size: 4em;
  background: #d42875;
  font-weight: 300;
  border: none;
  outline: none;
   width: 50%;
}
input.qtyplus { 
 width: 60px;
  height: 60px;
  background: url('../images/img-sprite.png') no-repeat -60px -160px;
  display: inline-block;
  cursor: pointer;
  outline:none;
  border:none;
  }
input.qtyminus {   
width: 60px;
  height: 60px;
  background: url('../images/img-sprite.png') no-repeat -120px -160px;
  display: inline-block;
  cursor: pointer;
  outline:none;
  border:none;
  }
/* WRAPPER */
.dropdown-button{
	width:60%;
	float: left;
	margin-right:10%;
}
.num {
	width: 25%;
	float: left;
}
.text_box{
	display:inline;
	width:60px;
	padding:3px 5px;
	outline:none;
	margin-left:5px;
	font-size:20px;
	color:#444;
	position:relative;
}
.dropdown-button{
	display:inline-block;
}
.flat{
	position: relative;	
	cursor: pointer;
	font-weight:600;
	background:#fff;
	color:#898989;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.flat.open{
	z-index: 2;
}
.flat:hover,
.flat.focus{
	color:#666;
}
/* OLD SELECT (HIDDEN) */
.flat .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.flat select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.flat.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.flat .selected {
    color:#fff;
}
.flat .selected,
.flat li{
	display: block;
	font-size: 1.15em;
	padding: 7px 0px 7px 15px;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	font-weight: 400;
	color: #705e57;
	border: 1px solid #705e57;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
}
.flat .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding:12px 13px;
	background: url(../images/img-sprite.png) no-repeat -400px -57px;
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
}
/* DROP DOWN WRAPPER */
.flat div{
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top:1px;
	background:#444444;
	overflow: hidden;
	opacity: 0;
	color: #FFF;
}
/* Height is adjusted by JS on open */
.flat.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.flat.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.flat.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.flat ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding:0;
	list-style: none;
	overflow: hidden;
}
.flat.scrollable.open ul{
	overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.flat li{
	list-style: none;
	padding: 6px 10px;
	padding: 6px 19px;
	font-size: 1em;
	font-weight: 400;
	color:#fff;
}
.flat li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.flat li:hover{
	background-color:#fff;
	color:#705e57;
}
.flat li.focus{
	background:#fff;
	position: relative;
	z-index: 3;
	color:#705e57;
}
.flat li.active{
    background-color:#fff;
	color: #705e57;
}
.content {
	margin-left: 6%;
	margin-top: 5em;
}
.file {
	margin-top: 3em;
}

.tabs {
	margin-top: 4em;
}

.file input[type="text"] {
  width: 60%;
  padding: 9px;
  border: none;
  font-size: 1.1em;
  border: 1px solid #705e57;
  font-weight: 600;
  color: #705e57;
  outline: none;
  background: #fff;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.tabs ul li a.last{
	border-top-right-radius:4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	-ms-border-bottom-right-radius: 4px;	
}--*/
.file input[type="text"] {
	width: 60%;
	padding: 9px;
	border: none;
	font-size: 1.1em;
	font-weight: 400;
	color: #705e57;
	outline: none;
	background: #fff;
	font-weight: 500;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border:1px solid #705e57;
}
.file input[type="submit"] {
	color: #eceef0;
	background: #d42875;
	padding: 10px 20px;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	-ms-border-radius: 1px;
	font-size: 1.1em;
	outline: none;
	border: none;
	font-weight: 400;
	margin: 0 0 0 -4px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	position: relative;
}
.file input[type="file"] {
	opacity: 0;
	width: 137px;
	height: 45px;
	display: inline-block;
	border: 0px;
	outline: none;
	position: absolute;
	top: 10;
	left: 62%;
	cursor: pointer;
}
.form-elements li:first-child{
	margin-left:9px;
	margin-bottom: 23px;
	width: 53%;
}
.form-elements li{
	display:inline-block;
}
.toggle {
	position: relative;
	display:inline-block;
	padding:10px;
	padding-right:60px;
	cursor: pointer;
}
.toggle input {
	position: absolute;
	left: -9999px;
}
.switches {
	margin-top: 4em;
}
.toggle i {
	content: '';
	position: absolute;
	top:2px;
	right: 0;
	display: block;
	width: 79px;
	height: 33px;
	padding:2px;
	background:#e63855;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
.toggle i:after {
	content: 'OFF';
	position: absolute;
	top:3px;
	right:10px;
	left:10px;
	font-style: normal;
	font-size:13px;
	line-height:27px;
	text-align: left;
	color: #FFF;
}
.toggle i:before {
	content: '';
	position: absolute;
	z-index: 1;
	top:2px;
	right:2px;
	display: block;
	width:32px;
	height:28px;
	opacity: 1;
	transition: right 0.2s;
	-o-transition: right 0.2s;
	-ms-transition: right 0.2s;
	-moz-transition: right 0.2s;
	-webkit-transition: right 0.2s;
}
.toggle input:checked + i:after {
	content: 'ON';
	text-align: right;
}
.toggle input:checked + i:before {
	right:45px;
}
.toggle i  {
	transition:all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition:all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.toggle i:before {
	background-color:#FFF;	
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
.toggle input:checked + i {
	background:#97d55a;
}
.checkbox-toggle {
	width: 47%;
	float: left;
}
.checkbox-toggle{
}
.checkbox-toggle:first-child,.check_box:first-child {
	margin-top:0;
	margin-right: 5%;
}
/*start-checkbox*/
.check_box{
}
.checkbox {
	padding-left: 25px;
	color: #B6B6B6;
	cursor: pointer;
	position:relative;
	font-size:12px;
}
 .checkbox:last-child {
	margin-bottom: 0;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox i {
	position: absolute;
	bottom: 7px;
	left: 0px;
	display: block;
	width: 19px;
	height: 20px;
	outline: none;
	border:1px solid #cecece;
	background:#fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick-mark.png") no-repeat center;
	top: -1px;
	left: -1px;
	width: 18px;
	height: 18px;
	text-align: center;
}
.form-elements li:nth-child(2) {
	margin-left: 18px;
	width: 37%;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.checkbox input:checked + i {
	border:1px solid #cecece;
	background: #fff;
}
.radio {
	position: relative;
	display:inline-block;
	margin-left:15px;
}
.radio:first-child {
	margin-left: 0;
	margin: 0;
}
.radio {
	padding-left:22px;
	line-height: 25px;
	color: #404040;
	cursor: pointer;
}
.radio label{
	font-size:1em;
	color:#555;
}
.radio  input[type="radio"]{
	position: absolute;
	left: -9999px;
}
.radio i {
	position: absolute;
	top:-16px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 1px solid #dfdfdf;
	background: #fff;
	cursor:pointer;
}
.radio i {
	border-radius: 50%;
}
.radio input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
 .radio input + i:after {
	content: '';
	top: 6px;
	left: 7px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.radio input:checked + i:after{
	opacity: 1;
}
.radio {
	width: 28%;
	float: left;
}
label.checkbox {
	width: 28%;
	floaT: left;
}
/*** normal state ***/
.radio i {
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
/*** checked state ***/
.radio input + i:after {
	background-color:#d42875;	
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.2);
}
.radio input:checked + i {
	border: 1px solid #dfdfdf;
	background: #fff;
}
.temp_top {
	background:#d42875;
	padding: 1em 3.5em;
	border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
}
.temp_bottom_left {
	float:left;
	width:50%;
}
.temp_bottom_right {
	float:left;
	width:50%;
}
.temperature {
	box-shadow: 5px 5px 5px 5px #e8e6e5;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
}
i.temp {
	width:110px;
	height:110px;
	background: url('../images/img-sprite.png') no-repeat 0px -220px;
	display:inline-block;
	vertical-align:middle;
	margin-right:0.5em;
}
i.u1 {
	width:55px;
	height:55px;
	background: url('../images/img-sprite.png') no-repeat -110px -220px;
	display:inline-block;
	float:left;
	margin: 5px -20px 0 21px;
}
i.r1 {
	width:55px;
	height:55px;
	background: url('../images/img-sprite.png') no-repeat -110px -275px;
	display:inline-block;
	float:left;
	margin: 5px -20px 0 21px;
}
.bottom-grid-left {
	width: 30%;
	float: left;
	margin-right: 8%;
}
.temp_top h3 {
	color: #fff;
	font-size: 4.5em;
	font-weight: 300;
}
.col-md-8 {
	padding:0;
}
.temp_bottom {
	background:#fff;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-o-border-bottom-left-radius: 4px;
	-ms-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	-ms-border-bottom-right-radius: 4px;
}
.temp_bottom_left {
	border-right: 1px solid #e5e5e5;
}
.temp_bottom_left,.temp_bottom_right {
	padding:2em 0;
}
.temp_bottom_left h4,.temp_bottom_right h4 {
	color:#705e57;
	font-weight:400;
	font-size:3em;
}
.temp_bottom_left p,.temp_bottom_right p {
	color:#705e57;
	font-weight:400;
	font-size:1em;
	margin-top:-7px;
}
.video {
	margin-top:7em;
	box-shadow: 3px 2px 5px 5px #e8e6e5;
}
.video iframe {
	width: 100%;
	height:400px;
}
.bottom-grids {
	padding: 0em 0 5em 0;
}
.bottom-grid-right {
	width: 62%;
	float: left;
}
.text_box{
	width: 85%;
	color: #606060;
	font-size: 15px;
	padding: 8px 0 8px 10px;
	border: none;
	outline: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	background: #fff;
}
.num li {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	list-style: none;
	background: #fff;;
	margin: 0 9px 15px 0;
	list-style-type:none;
	list-style-type:none;
	float: left;
	border: 1px solid #705e57;
	width: 100%;
}
.icon11 {
	background: url('../images/img-sprite.png') no-repeat -180px -157px #d42875;
	height: 39px;
	width: 20px;
	display: block;
	float: right;
	margin: -1px -1px -1px 0;
	border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	-ms-border-bottom-right-radius: 4px;
  top: 58.2%;
  left: 83%;
}
.up{
	float:left;
	width:10%;
	margin-right:4%;
	background: #D42865;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	padding: 0.45em 1em;
	margin-top:0.3em;
	cursor:pointer;
}
i.up_icon {
	width: 10px;
	height: 10px;
	background: url('../images/img-sprite.png') no-repeat -165px -220px #d42875;
	display: inline-block;
}
.form-elements{
	float:right;
	width:86%;
}
.shopping-list {
	margin-top:4em;
	border: 1px solid #cecece;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
}
.shopping-list ul li {
	display:inline-block;
	float:left;
	position:relative;
	width: 25%;
}
.shopping-list ul li a.active {
	background:#d42875;
	color:#fff;
	padding: 7.5px 8px 7.5px 44px;
}
.shopping-list ul li:nth-child(3) {
	padding-left: 25px;
}
span.front {
  position: absolute;
  top: 0;
  right: -19px;
  z-index: 999;
}
span.front1 {
  position: absolute;
  top: 0;
  right: -19px;
  z-index: 999;
  display:none;
}
.shopping-list ul li:hover span.front1 {
	display:block;
}
.shopping-list ul li:hover {
	background:#d42875;
}
.shopping-list ul li a:hover {
	color:#fff;
}
.shopping-list ul {
  background: #fff;
}

.shopping-list ul li a {
	text-decoration:none;
	font-size:1.1em;
	font-weight:600;
	color:#5f5e56;
	  padding: 7.5px 13px 7.5px 35px;
	display:block;
}
.quick .noUi-target {
	max-width: 100%;
	margin: 20px auto 20px;
}
.scrolling {
	margin: 4em 0;
}
.temperature {
	margin-top: 5.5em;
}
.footer {
	padding: 3em 0;
}
.copyright p {
	color: #7c584b;
	font-size: 1.3em;
}
.copyright p a {
	color: #7c584b;
	margin-left: 5px;
}
/*-- responsive-design starts-here --*/

@media screen and (max-width: 1440px) {
	.top-grid {
		padding: 2em 0 5em 0;
	}
	.bottom-grids {
		padding: 0em 0 4em 0;
	}
	.switches {
		margin-top: 3em;
	}
}
@media screen and (max-width: 1280px) {
	.top-left-grid ul li a {
		padding: 1.3em 0;
	}
	.top-grid {
		padding: 8em 0px 4.5em 0;
	}
	.bottom-grids {
		padding: 0em 0 3em 0;
	}
}
@media screen and (max-width: 1024px) {
	.bottons_row_1 ul {
		margin-top: 1em;
	}
	.bottons_row_1 ul.buttons {
		margin-top: 3.5em;
	}
	.buttons {
		margin-bottom: 5.5em;
	}
	.user_menu {
		width: 47%;
		margin-right: 6%;
	}
	.user_beat {
		margin-bottom: 0em;
	}
	.content {
		margin-left: 0%;
		margin-top: 4em;
	}
	.file input[type="submit"] {
		padding: 10px 19px;
	}
	.file input[type="file"] {
		width: 127px;
		height: 43px;
		bottom: 95px;
		left: 60%;
	}
	.up {
		width: 10%;
		margin-right: 2%;
		padding: 0.45em 0.6em;
	}
	.form-elements li:nth-child(2) {
		margin-left: 0px;
		width: 34%;
	}
	.form-elements li:first-child {
		width: 61%;
	}
	.video {
		margin-top: 6em;
	}
	.video iframe {
		height: 337px;
	}
	.temp_top {
		padding: 1em 0.5em;
	}
	.tabs {
		margin-top: 3em;
	}
	.bottom-grid-right {
		width: 64%;
	}
	.bottom-grid-left {
		margin-right: 6%;
	}
	.shopping-list ul li a {
		font-size: 1em;
		  padding: 8px 10px 8px 28px;
	}
	.temperature {
		margin-top: 3.5em;
	}
	.copyright p {
		font-size: 1.2em;
	}	
	.shopping-list ul li a.active {
		padding: 8px 8px 8px 44px;
	}
	.ribbons {
		margin-left: 4em;
	}
	.ribbon-back-right1 {
		right: 63px;
	}
	.ribbon-back-right {
		right: 47px;
	}
}
@media screen and (max-width: 800px){
	.content {
		margin-left: 5%;
		margin-top: 0em;
		width: 45%;
		float: left;
	}
	.blog {
		width: 50%;
		float: left;
	}
	.user_desc_right {
		margin-right: 0;
	}
	.user_menu {
		width: 50%;
		margin-right: 8%;
	}
	.middle-right-grid {
		margin: 5em 0;
	}
	.top-left-grid ul li a {
		padding: 1em 0;
	}
	.top-grid {
		padding: 6em 0px 3em 0;
	}
	.bottom-grid-left {
		margin-right: 0%;
		width:100%;
		margin-top: 3em;
	}
	.bottom-grid-right {
		width: 100%;
	}
	.shopping-list ul li a {
		padding: 8px 17px 8px 45px;
	}
	.file input[type="file"] {
		width: 126px;
		height: 42px;
		bottom: 88px;
		left: 82%;
	}
	i.u1,i.r1 {
		margin: 5px -120px 0 120px;
	}
	.temp_top {
		padding: 1em 16.5em;
	}
	.bottom-grids {
		padding: 0em 0 1em 0;
	}
	.copyright p {
		font-size: 1.1em;
	}
	.ribbon-back-right1 {
		right: 103px;
	}
	.ribbon-back-right {
		right: 87px;
	}
}
@media screen and (max-width: 640px) {
	.shopping-list ul li a {
		padding: 8px 8px 8px 28px;
	}
	.footer {
		padding: 2em 0;
	}
	.temp_top {
		padding: 1em 12.5em;
	}
	i.u1, i.r1 {
		margin: 5px -120px 0 79px;
	}
	.video {
		margin-top: 4em;
	}
	.file input[type="file"] {
		width: 110px;
		height: 37px;
		bottom: 71px;
		left: 81.1%;
	}
	.top-left-grid ul li a {
		padding: 0.2em 0;
	}
	.top-right-grid {
		width: 27%;
		margin-left: 3%;
	}
	.search-box div input[type="text"] {
		padding: 6px 10px;
	}
	.search-box {
		margin: 0.6em 0 0.5em 0;
	}
	.search-box div input[type="submit"] {
		right: 5px;
		bottom: 5px;
	}
	.bottons_row_1 ul li.large input[type="button"] {
		padding: 8px 28px;
		font-size: 1.25em;
	}
	.bottons_row_1 ul li.medium input[type="button"] {
		padding: 5px 24px;
		font-size: 1.15em;
	}
	.bottons_row_1 ul li.small input[type="button"] {
		padding: 4px 20px;
		font-size: 1.05em;
	}
	.top-grid {
		padding: 5em 0px 3em 0;
	}
	.bottons_row_1 ul.buttons {
		margin-top: 3em;
	}
	.blog {
		width: 70%;
	}
	.content {
		margin-left: 3%;
		width: 50%;
	}
	.blog-info h4 {
		font-size: 1.3em;
	}
	.blog-info p {
		font-size: 0.9em;
		margin-top: 0.7em;
		padding-top: 0.7em;
	}
	.blog-info {
		padding: 15px;
	}
	.file input[type="submit"] {
		padding: 7px 10px;
	}
	.file input[type="text"] {
		width: 63%;
		padding: 6px;
		font-size: 1.1em;
	}
	.flat .selected, .flat li {
		font-size: 1.1em;
		padding: 6px 0px 6px 13px;
	}
	.icon11 {
		background: url('../images/img-sprite.png') no-repeat -180px -159px #d42875;
		height: 34px;
		width: 20px;
	}
	.num input[type="text"] {
		font-size: 14px;
		padding: 6px 0 6px 8px;
	}
	.switches {
		margin-top: 2.5em;
	}
	.file {
		margin-top: 2em;
	}
	.tabs {
		margin-top: 2.5em;
	}
	.ribbon-back-right1 {
		right: 49px;
	}
	.ribbon-back-right {
		right: 33px;
	}
	.shopping-list ul li a.active {
		padding: 8px 8px 8px 36px;
	}
	.shopping-list ul li:nth-child(3) {
		padding-left: 20px;
	}
}

@media screen and (max-width: 480px) {
	.top-left-grid {
		width: 100%;
	}
	.top-right-grid {
		width: 100%;
		margin-left: 0%;
		margin-top:2em;
	}
	.bottons_row_1 ul li.large input[type="button"] {
		padding: 7px 26px;
		font-size: 1.1em;
	}
	.bottons_row_1 ul li {
		width: 30%;
	}
	.bottons_row_1 ul li.medium input[type="button"] {
		padding: 4px 22px;
		font-size: 1.1em;
	}
	.bottons_row_1 ul li.small input[type="button"] {
		padding: 3px 18px;
		font-size: 1em;
	}
	.bottons_row_1 ul {
		margin-top: 0em;
	}
	.blog {
		width: 100%;
	}
	.content {
		margin-left: 0;
		width: 100%;
		margin-top:3em;
	}
	.user_menu {
		width: 52%;
		margin-right: 6%;
	}
	.ribbons img {
		margin-top: 3em;
		width: 85%;
	}
	.user_list ul li a {
		font-size: 1.1em;
		padding: 1.35em;
	}
	.video iframe {
		height: 253px;
	}
	.temp_top {
		padding: 1em 6.5em;
	}
	i.u1, i.r1 {
		margin: 5px -120px 0 34px;
	}
	.user_head {
		padding: 1.2em 1em;
	}
	.user_head img {
		margin-right: 1em;
		width:40%;
	}
	.user_head h3 {
		font-size: 1.85em;
	}
	.middle-right-grid {
		margin: 3em 0;
	}
	.file input[type="text"] {
		width: 70%;
		padding: 8px 15px;
		font-size: 1.1em;
	}
	.file input[type="submit"] {
		padding: 9px 20px;
	}
	.file input[type="file"] {
		width: 127px;
		height: 41px;
		bottom: 68px;
		left: 70%;
	}
	.copyright p {
		font-size: 0.98em;
	}
	.shopping-list ul li:nth-child(3) {
		display: none;
	}
	.shopping-list ul li {
		width: 33.333%;
	}
	.shopping-list ul li a {
		padding: 8px 0px 8px 24px;
	}
	.shopping-list {
		margin-top: 3em;
	}
	.up {
		padding: 0.45em 1.15em;
	}
	.form-elements li:first-child {
		width: 50%;
		margin-left: 28px;
	}
	.form-elements li:nth-child(2) {
		margin-left: 3%;
		width: 28%;
	}
	.qty {
		font-size: 3.5em;
		width: 65%;
	}
	.ribbons {
		margin-left: 2em;
	}
	.ribbon-edge-topleft2 {
		left: 112px;
	}
	.ribbon-edge-topleft1, .ribbon-edge-bottomleft1 {
		left: 128px;
	}
	.ribbon-front1 {
		width: 100px;
	}
	.ribbon-edge-bottomright1 {
		border-width: 0 0 18px 38px;
	}
	.ribbon-edge-topright1, .ribbon-edge-bottomright1 {
		left: 43px;
	}
	.ribbon-back-right1 {
		width: 85px;
		right: 26px;
	}
	.ribbon-front {
		width: 100px;
	}
	.ribbon-back-left {
		width: 60px;
	}
	.ribbon-front {
		width: 80px;
	}
	.ribbon-edge-topleft {
		border-width: 12px 20px 0 0;
	}
	.ribbon-edge-topright {
		border-width: 12px 0 0 20px;
	}
	.ribbon-edge-topright, .ribbon-edge-bottomright {
		left: 51px;
	}
	.ribbon-back-right {
		right: 38px;
		width: 51px;
	}
	.ribbon-edge-topleft2 {
		left: 102px;
	}
	.ribbon-wrapper1 {
		margin-top: 3em;
	}
	.ribbon-wrapper {
		margin-top: 5em;
	}
	.text_box {
		padding: 6px 0 6px 10px;
	}
}
@media screen and (max-width: 320px) {
	.user_menu {
		width: 100%;
		margin-right: 0;
	}
	.user_desc_right {
		width:100%;
		margin-top:2.5em;
	}
	.user_head h3 {
		font-size: 2.3em;
	}
	.shopping-list ul li:nth-child(4) {
		display: none;
	}
	.shopping-list ul li {
		width: 46%;
	}
	.shopping-list ul li a {
		padding: 9px 0px 9px 22px;
		font-size: 0.9em;
	}
	.video iframe {
		height: 200px;
	}
	.temp_top {
		padding: 1em 3.5em;
	}
	i.temp {
		width: 80px;
		height: 80px;
		background: url('../images/img-sprite.png') no-repeat -3px -182px;
		margin-right: 0.2em;
		background-size: 350px;
	}
	.ribbons img {
		width: 75%;
	}
	.temp_top h3 {
		font-size: 3.5em;
	}
	.temp_bottom_left h4, .temp_bottom_right h4 {
		font-size: 2.5em;
	}
	i.u1, i.r1 {
		margin: 0px -21px 0 20px;
	}
	.temp_bottom_left, .temp_bottom_right {
		padding: 1.5em 0;
	}
	.file input[type="text"] {
		width: 65%;
		padding: 8px 10px;
		font-size: 1em;
	}
	.file input[type="submit"] {
		padding: 9px 8px;
		font-size: 1em;
	}
	.copyright p {
		line-height: 1.7em;
	}
	.file input[type="file"] {
		width: 98px;
		height: 40px;
		bottom: 68px;
		left: 64%;
	}
	.form-elements li:first-child {
		width: 80%;
		margin-left: 28px;
	}
	.form-elements {
		width: 84%;
	}
	.up {
		padding: 0.45em 1em;
		width: 14%;
		margin-right: 2%;
	}
	.switches {
		margin-top: 1.5em;
	}
	.form-elements li:nth-child(2) {
		margin-left: 6%;
		width: 73%;
		margin-top: 13%;
	}
	.top-grid {
		padding: 4em 0px 2em 0;
	}
	.bottons_row_1 ul li.large input[type="button"] {
		padding: 6px 11px;
		font-size: 0.95em;
	}
	.bottons_row_1 ul li.medium input[type="button"] {
		padding: 3px 12px;
		font-size: 0.9em;
	}
	.bottons_row_1 ul li.small input[type="button"] {
		padding: 2px 13px;
		font-size: 0.85em;
	}
	li.medium {
		margin-left: 15%;
	}
	.bottons_row_1 ul li {
		width: 27%;
	}
	.bottons_row_1 ul.buttons {
		margin-top: 2em;
	}
	.buttons {
		margin-bottom: 3.5em;
	}
	i.home {
		width: 50px;
		height: 50px;
		background: url('../images/img-sprite.png') no-repeat 0px 0px;
		background-size: 275px;
	}
	i.home:hover {
		width: 50px;
		height: 50px;
		background: url('../images/img-sprite.png') no-repeat 0px -50px;
		background-size: 275px;		
	}
	.top-left-grid ul li:hover i.home {
		width: 50px;
		height: 50px;
		background: url('../images/img-sprite.png') no-repeat 0px -50px;
		background-size: 275px;	
	}
	i.news {
		width: 50px;
		height: 50px;
		background: url('../images/img-sprite.png') no-repeat -50px -50px;
		background-size: 275px;
	}
	i.photos {
		width: 50px;
		height: 50px;
		background: url('../images/img-sprite.png') no-repeat -100px 0px;
		background-size: 275px;
	}
	.top-left-grid ul li:hover i.photos {
		width: 50px;
		height: 50px;
		background: url('../images/img-sprite.png') no-repeat -100px -50px;
		background-size: 275px;	
	}
	i.bag {
		width: 50px;
		height: 50px;
		background: url('../images/img-sprite.png') no-repeat -150px 0px;
		background-size: 275px;
	}
	.top-left-grid ul li:hover i.bag {
		width: 50px;
		height: 50px;
		background: url('../images/img-sprite.png') no-repeat -150px -50px;
		background-size: 275px;	
	}
	i.settings {
		width: 50px;
		height: 50px;
		background: url('../images/img-sprite.png') no-repeat -200px 0px;
		background-size: 275px;
	}
	.top-left-grid ul li:hover i.settings {
		width: 50px;
		height: 50px;
		background: url('../images/img-sprite.png') no-repeat -200px -50px;
		background-size: 275px;	
	}
	.top-left-grid ul li a.active {
		border-bottom: 3px solid #d42875;
	}
	.top-left-grid ul li a:hover {
		border-bottom: 3px solid #d42875;
	}
	.shopping-list ul li a.active {
		padding: 9px 8px 9px 28px;
	}
	.ribbons {
		margin-left: 5em;
	}
	.ribbon-back-right1 {
		right: 75px;
	}
	.ribbon-back-right {
		right: 87px;
	}
	.ribbon-front1 {
		width: 120px;
	}
	.ribbon-edge-bottomright1 {
		border-width: 0 0 18px 60px;
	}
	.ribbon-back-right1 {
		width: 100px;
		  right: 60px;
	}
	.ribbon-edge-topleft1, .ribbon-edge-bottomleft1 {
		left: 143px;
	}
	.ribbon-front {
		width: 100px;
	}
	.ribbon-edge-topright {
		border-width: 12px 0 0 40px;
	}
	.ribbon-back-right {
		right: 67px;
		width: 70px;
	}
	.ribbon-back-left {
		width: 70px;
	}
	.ribbon-edge-topleft {
		border-width: 12px 35px 0 0;
	}	
	.ribbon-edge-topleft2 {
		left: 122px;
	}
	.ribbon-back-left {
		width: 75px;
	}
}



